.projects-list-container {
    text-align: center;
  }
  
  .projects-list-container .item-todo {
    padding: 14px;
    width: 350px;
    height: 70px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 20px;    
    margin-top: 15px;
    background: linear-gradient(
      90deg,
      rgb(244, 238, 255) 0%,
      rgb(225, 177, 255) 100%
    );
    color: rgb(83, 83, 83);
    /* border: none; */
    border: 2px solid #5d0cff;
    border-radius: 5px;
    cursor: pointer;
  }

  .projects-list-container .item-todo:hover {
    background: linear-gradient(
        90deg,
        rgb(233, 221, 255) 0%,
        rgb(217, 157, 255) 100%
      );
  }
  
  .projects-list-container .item-todo .item-text {
    display: inline-block;
    cursor: pointer;
  }
  
  .projects-list-container input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #5d0cff;
    outline: none;
    background: transparent;
  }
  
  .projects-list-container button {
    padding: 16px 7px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgba(93, 12, 255, 1) 0%,
      rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }

  .projects-list-container button:hover {
    background: linear-gradient(
        90deg,
        rgb(171, 129, 255) 0%,
        rgb(128, 0, 207) 100%
      );
  }
  
  .projects-list-container .item-todo .item-delete {
    display: inline-block;
    cursor: pointer;
    /* float: right; */
    font-size: 22px;
    position: relative;
    left: -4px;
    bottom: 5px;
  }
  
  .strike {
    text-decoration: line-through;
  }


/* sfsdf */

.title-before-form {
    padding-top: 50px;
    padding-bottom: 20px;
}

.input-label {
    font-size: 20px;
    font-weight: 20px;
}

.list-of-projects-label {
    color: rgb(58, 58, 58);
    width: 25%;
    background-color: #eae0ff;
    align-items: center;
    justify-content: center;
    margin-left: 38%;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.after-form-container {
    margin-top: 20px;
}

.item-todo-container {
    display: flex;
    width: 60%;
    padding-left: 39%;    
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  /* line-height: 1.25; */
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  height: 80px;
  width: 40px;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}